<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{msg.commercialDetails}">Detalles Comercial</title>
    <style>
        .clearfix::after {
            content: "";
            display: block;
            clear: both;
        }
    </style>
</head>
<body>
<div id="contenedora" style="float:none; margin: 0 auto; width: 95%;">

    <!-- Cabecera -->
    <div class="clearfix">
        <div style="float: left; width: 50%">
            <h1 th:text="#{msg.commercialDetails}">Detalle Comercial</h1>
        </div>
        <div style="float: none; width: auto; overflow: hidden; min-height: 80px; position: relative;">
            <div style="position: absolute; left: 39%; top : 39%;">
                <form action="/comercial/editar/{id}">
                    <input type="submit" th:value="#{msg.editCommercial}" />
                </form>
            </div>
        </div>
    </div>

    <!-- Línea de separación -->
    <div class="clearfix">
        <hr/>
    </div>

    <!-- Información Comercial -->
    <div class="clearfix">
        <div style="float: left; width: 14%" th:text="#{msg.id}">Id</div>
        <div style="float: left; width: 14%" th:text="#{msg.name}">Nombre</div>
        <div style="float: left; width: 14%" th:text="#{msg.surname1}">Apellido 1</div>
        <div style="float: left; width: 14%" th:text="#{msg.surname2}">Apellido 2</div>
        <div style="float: left; width: 14%" th:text="#{msg.commission}">Comisión</div>
    </div>
    <div class="clearfix">
        <hr/>
    </div>

    <!-- Detalles del Comercial -->
    <div class="clearfix" style="margin-top: 6px;">
        <div style="float: left; width: 14%" th:text="${comercial.id}">ID Comercial</div>
        <div style="float: left; width: 14%" th:text="${comercial.nombre}">Nombre Comercial</div>
        <div style="float: left; width: 14%" th:text="${comercial.apellido1}">Apellido 1</div>
        <div style="float: left; width: 14%" th:text="${comercial.apellido2 ?: '&nbsp;'}">Apellido 2</div>
        <div style="float: left; width: 14%" th:text="${comercial.comision}">Comisión</div>
    </div>

    <div class="clearfix">
        <hr/>
    </div>

    <!-- Pedidos del Comercial -->
    <div class="clearfix">
        <h2 th:text="#{msg.customerOrderCommercial}">Pedidos del Comercial</h2>
        <div class="clearfix">
            <div style="float: left; width: 14%" th:text="#{msg.idOrders}">Id Pedido</div>
            <div style="float: left; width: 14%" th:text="#{msg.total}">Total</div>
            <div style="float: left; width: 14%" th:text="#{msg.date}">Fecha</div>
            <div style="float: left; width: 14%" th:text="#{msg.client}">Cliente</div>
        </div>
        <div class="clearfix">
            <hr/>
        </div>

        <!-- Listar los pedidos del Comercial -->
        <div th:each="pedido : ${comercial.pedidos}" class="clearfix" style="margin-top: 6px;">
            <div style="float: left; width: 14%" th:text="${pedido.id}">ID Pedido</div>
            <div style="float: left; width: 14%" th:text="${pedido.total}">Total</div>
            <div style="float: left; width: 14%" th:text="${pedido.fecha}">Fecha</div>
            <div style="float: left; width: 14%">
                <!-- Enlace a los detalles del cliente del pedido -->
                <a th:href="@{/clientes/detalle/{id}(id=${pedido.id_cliente})}" th:text="${pedido.id_cliente}">Ver Detalles Cliente</a>
            </div>
        </div>
    </div>

</div>
</body>
</html>
